.statistics {
	width: 335px;
    margin: 20px auto;
    border: solid 1px rgb(211, 221, 221);
}

.title {
	font-size: 16p;
	color: #3b3b3b;
	text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.stat_list{
    height: 60px;
    display: flex;
    list-style: none;
}

.item{
    width: 70px;
    border:1px;
}

.label{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
}

.percentage{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}